body {
    margin: 60px auto;
    width: 70%;
	background-color: aliceblue
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #da66b9;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:black;
    text-decoration: bold;
    text-transform:uppercase;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #1e3517;
}
footer {
    border-top: 1px solid #0e0e0e;
    font-size: .8em;
}
.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    background-color:#F4FCE8;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}
#done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
#done-items li:last-child{
    border-bottom:none;
}
#checkAll{
    margin-top:10px;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
