<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/png"
			href="http://aalison.github.io/logo-tue.png" />
		</head>
		<body>
			<div>
			<script>
  (function() {
    var cx = '000663461185018965971:imeitlhoqho';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/ToDo">To do page</a></li>
	        		<!--<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:k.b.breider@student.tue.nl">Email</a></li>
	        		<li>Student nr: 0926885</li>
				</ul>
			</footer>
		</body>
	</html>
